
<!-- Se llama al parcial HEAD -->
 {{> head}}

    <!-- Se llama al parcial  NAVBAR-->
    {{> navbar}}

    <div class="row">

        <div class="col-8">
            <h1>Texto para acompañar la pagina</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/Foto1.jpg" class="img-thumbnail" >
        </div>

    </div>

<!-- Se llama al parcial  FOOTER-->
    {{> footer}}